$off-white: #ffffff;
$off-black: #0c011f;

@mixin buttonColors() {
  transition: 200ms;
  -webkit-transition: 200ms;
  background-color: transparent;
  color: $off-black;

  &:hover {
    transition: 200ms;
    -webkit-transition: 200ms;
    background-color: $off-black;
    color: $off-white;
  }
}

@mixin buttonColorsInverse() {
  transition: 200ms;
  -webkit-transition: 200ms;
  background-color: transparent;
  color: $off-white;

  &:hover {
    transition: 200ms;
    -webkit-transition: 200ms;
    background-color: $off-white;
    color: $off-black;
  }
}

// Loading screen
.loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  border: 4px solid $off-black;
  width: 200px;
  height: 100px;
  padding: 10px;
  margin: 0 auto;

  h6 {
    color: $off-black;
  }
}


// Container styles
.blog-header {
  h2,p {
    color: $off-black;
    text-align: center;
  }
  h2 { font-weight: 700; }

  &:after {
    content: "";
    position: relative;
    width: 50%;
    margin-left: 25%;
    height: 1px;
    background-color: $off-black;
  }
  margin-top: 95px;

  @media screen and ( max-width: 768px ) {
    h2 { font-size: 4rem }
    p { font-size: 1.2rem }
  }
}

// Blog category filter
.filter-wrap {
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 85px;
  padding: 10px 40px 40px 0px;
  background-color: $off-white;
  z-index: 999999;

  button.filter {
    display: inline-block;
    float: right;
    margin: 0px 20px 0px 20px;
    padding: 0px 15px 0px 15px;
    width: auto;
    height: 60px;
    border: none;
    border: 3px solid $off-black;
    font-size: 1.4rem;
    @include buttonColors();

    // Active styles for large screens
    &.active {
      background-color: $off-black;
      color: $off-white;
    }

    @media screen and ( max-width: 832px ) {
      flex: 1;
      margin: 0px;
      height: 100%;
      background-color: $off-black;
      color: $off-white;
      border: none;
      border-top: 4px solid $off-black;

      @include buttonColorsInverse();

      // Active styles for small screens
      &.active {
        background-color: $off-white;
        color: $off-black;
      }
    }
  }

  @media screen and ( max-width: 832px ) {
    margin-top: 85px;
    padding: 0px;
    background-color: $off-black;
    display: flex;
    flex-direction: row;
  }
}

.post-wrap {
  // Sizing
  width: 100%;
  overflow-x: hidden;

  h1,h2,h3,h4,h5,h6,p {
    color: $off-black;
  }

  h4 {
    font-size: 3rem;
  }

  em {
    font-size: 2.2rem;
  }

  // Title styles
  .title-wrap {
    width: 65%;
    margin-left: 17.5%;
    margin-top: 0px;

    .background {
      // Sizing
      width: 100%;
      height: auto
    }

    .date {
      text-align: center;
      color: #201e22;
      padding-top: 17.5px;
    }
    .cats {
      text-align: center;
      color: #201e22;
      padding-top: 5px;
    }
    .title {
      text-align: center;
      color: $off-black;
      background-color: #fff;
      padding: 0px 40px 0px 40px;
    }

    // Styles for a smaller screen
    @media screen and ( max-width: 768px ) {
      width: 90%;
      margin-left: 5%;

      .title {
        font-size: 1.8rem;
      }
    }
  }
  // { END } Title styles


  // Body styles
  .body-wrap {
    width: 65%;
    margin-left: 17.5%;
    padding-top: 30px;

    p {
      font-family: $font-body;
      img {
        text-align: center;
      }
      a img {
        text-align: center;
      }
      strong a {
        text-align: center;
      }
    }

    // img.aligncenter {
    //   margin: 0 auto;
    // }

    // Mobile
    @media screen and ( max-width: 768px ) {
      width: 90%;
      margin-left: 5%;

      img {
        width: 85%;
        height: auto;
        margin-left: 7.5%;
      }
    }
  }
  // { END } Body styles


  // Separator
  &:after {
    position: relative;
    content: "";
    display: block;
    width: 50%;
    margin-left: 25%;
    height: 1px;
    background-color: $off-black;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  // Comment button
  .comment-wrap {
    width: 100%;
    text-align: center;
    button.comment {
      display: inline-block;
      margin: 15px 20px 0px 20px;
      padding: 0px 15px 0px 15px;
      width: auto;
      height: 60px;
      border: none;
      border: 3px solid $off-black;
      font-size: 1.4rem;
      @include buttonColors();

      @media screen and ( max-width: 768px ) {
        margin: 2.5px 5px 2.5px 5px;
      }
    }
  }


}

// Disqus comment box
#disqus_thread {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 100px 15px 100px;
  background-color: $off-black !important;
  z-index: 100000;

  @media screen and ( max-width: 768px ) {
    padding: 15px 30px 15px 30px;
  }
}


.load-more-wrap {
  text-align: center;
  padding: 10px 0px 40px 0px;

  button {
    display: inline-block;
    margin: 0px 20px 0px 20px;
    padding: 0px 15px 0px 15px;
    width: auto;
    height: 60px;
    border: none;
    border: 3px solid $off-black;
    font-size: 1.4rem;
    @include buttonColors();

    @media screen and ( max-width: 768px ) {
      margin: 2.5px 5px 2.5px 5px;
    }
  }
}


@media screen and ( max-width: 832px ) {
  .top-gradient {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    z-index: 99;

    background: -moz-linear-gradient(top, rgba(74,74,74,0.65) 0%, rgba(74,74,74,0.64) 1%, rgba(74,74,74,0.63) 2%, rgba(74,74,74,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(74,74,74,0.65) 0%,rgba(74,74,74,0.64) 1%,rgba(74,74,74,0.63) 2%,rgba(74,74,74,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(74,74,74,0.65) 0%,rgba(74,74,74,0.64) 1%,rgba(74,74,74,0.63) 2%,rgba(74,74,74,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a64a4a4a', endColorstr='#004a4a4a',GradientType=0 );
  }
}
