// .places-wrap {
//
//   .title-wrap {
//     h2,p {
//       color: $off-black;
//       text-align: center;
//     }
//     @media screen and ( max-width: 768px ) {
//       margin-top: 85px;
//       h2 { font-size: 4rem }
//       p { font-size: 1.2rem }
//     }
//   }
//
//   iframe {
//     border: none;
//     width: 65%;
//     margin: 30px 0px 30px 17.5%;
//
//     @media screen and ( max-width: 768px ) {
//       width: 90%;
//       margin-left: 5%;
//     }
//   }
// }

.menu-wrap {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 85px;
  background-color: red;

  button {
    float: right;
    border: 4px solid $off-black;
    padding: 10px;
    margin: 0px 10px 0px 10px;

    &:last-child {
      margin-right: 50px;
    }
  }
}

.frame-wrap {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;


  iframe {
    width: 100%;
    height: 100%;
    border: none;
    padding-top: 85px;
  }
}
