$off-white: #ffffff;

#carousel {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

.item {
  width: 100% !important;
  height: 100% !important;

  .post-preview-wrap {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h1,h5 {
      color: $off-white;
      text-shadow: 1px 1px 2px $off-black;
    }

    button {
      text-shadow: 1px 1px 2px $off-black;
      &:hover {
        text-shadow: 1px 1px 2px $off-white;
      }
    }
  }
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.carousel-inner {
  width: 100% !important;
  height: 100% !important;
}
