<!DOCTYPE html>
<html lang="en">
<head>

  <% var title = "About - Pamela Wilson" %>
  <% include ../partials/head %>

</head>
<body>

  <% var showLandingPage = false, showNowPage = false, showJournalPage = false, showPlacesPage = false, showAboutPage = true, showContactPage = false  %>
  <% var darkTheme = false %>
  <% include ../partials/sidebar %>
  <% include ../partials/sticky_links %>

</body>
</html>
