<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Standardized header -->
  <% include ../partials/head %>

  <!-- Get Wordpress JSON sent by app.js -->
  <% include ../partials/scripts/blog %>

</head>
<body>

  <% var showLandingPage = false, showNowPage = false, showBlogPage = true, showPlacesPage = false, showAboutPage = false, showContactPage = false  %>
  <% var darkTheme = true %>
  <% include ../partials/sidebar %>
  <% include ../partials/sticky_links %>

</body>
</html>
