<!DOCTYPE html>
<html lang="en">
<head>

  <% include ../partials/head %>
  <% include ../partials/scripts/landing_page %>
  
</head>
<body>

  <% var showLandingPage = true, showNowPage = false %>
  <% var darkTheme = false %>
  <% include ../partials/sidebar %>
  <% include ../partials/sticky_links %>

</body>
</html>
