<!DOCTYPE html>
<html lang="en">
<head>

  <% include ../partials/head %>

</head>
<body>

  <% var showLandingPage = false, showNowPage = true %>
  <% var darkSocialButtons = true %>
  <% include ../partials/sidebar %>
  <% include ../partials/sticky_links %>

</body>
</html>
