<!DOCTYPE html>
<html lang="en">
<head>

  <% include ../partials/head %>
  <% include ../partials/scripts/landing_page %>

</head>
<body>

  <% var showLandingPage = false, showNowPage = false, showJournalPage = false, showPlacesPage = true, showAboutPage = false, showContactPage = false  %>
  <% var darkTheme = true %>
  <% include ../partials/sidebar %>
  <% include ../partials/sticky_links %>

</body>
</html>
