<div class="about-wrap">
	<div class="about-inner">

		<h1 class="p1" style="text-align: center;"><span style="color: #ebebeb;">Pamela Wilson</span></h1>
		<h2 class="p1" style="text-align: center;"><span style="color: #ebebeb;"><strong><span style="color: #fcd6d4;">Fashion Innovator,</span><br />
		<span style="color: #fcd6d4;">Poker Player,</span><br />
		<span style="color: #fcd6d4;">Activist</span></strong><a style="color: #ebebeb;" href="http://sonicpitch.com/wp-content/uploads/2013/01/store-photo.jpg"><br />
		</a></span></h2>
		<h4 class="quote"><span style="color: #ebebeb;">“I&#8217;m recovering from Guillain Barre Syndrome and Breast Cancer, but I&#8217;m not letting that hold me back from living my life fully, and helping others.”</span></h4>
		<h3 style="text-align: center;"><span style="color: #fcd6d4;">Answers by Pamela</span></h3>
		<h4 class="p1" style="text-align: left;"><span style="color: #d4f0fc;">Q: What is PDUBXO?</span></h4>
		<h5><span style="color: #ebebeb;">Pdub XO is my space to share my stories, actions and style with you, with my hope to inspire, motivate and empower. Pdub is my nickname, all of my friends call me that. I seal my writing with a hug and a kiss to you.</span></h5>
		<h4 class="p1" style="text-align: left;"><span style="color: #d4f0fc;">Q: Favorite Celebrities?</span></h4>
		<h5 class="p1" style="text-align: left;"><span style="color: #ebebeb;">Patti Smith, Gloria Steinman, Nas, Andy Cohen, Sia, Lady Gaga.</span></h5>
		<h4 class="p1" style="text-align: left;"><span style="color: #d4f0fc;">Q: What are you reading?</span></h4>
		<h5 class="p1" style="text-align: left;"><span style="color: #ebebeb;">&#8216;The Happy Vegan&#8217; by Russell Simmons, &#8216;When Breath Becomes Air&#8217; by Paul Kalanithi and &#8216;Between the World &amp; Me&#8217; by Ta-Nehishi Coates. I never read one book at a time.</span></h5>
		<h4 class="p1" style="text-align: left;"><span style="color: #d4f0fc;">Q: Last movie you watched?</span></h4>
		<h5 class="p1" style="text-align: left;"><span style="color: #ebebeb;">&#8216;The Boss&#8217; with Melissa McCarthy. It was pretty funny.</span></h5>
		<h4 class="p1" style="text-align: left;"><span style="color: #d4f0fc;">Q: Do you have a favorite quote?</span></h4>
		<h5 class="p1" style="text-align: left;"><span style="color: #ebebeb;">&#8220;Pain is inevitable, suffering is optional&#8221; &#8211; Anonymous</span></h5>
		<h4 class="p1"><span style="color: #d4f0fc;">Q: What are some facts about yourself?</span></h4>
		<h5><span style="color: #ebebeb;">I play tournament poker. I adore my husband &amp; cats. If something is wrong, I speak up. I use the wrong word a lot. I think I&#8217;m funny, but my husband thinks I&#8217;m hilarious. I&#8217;m very tall, but I&#8217;m not a model. I&#8217;m 47 going on 26.</span></h5>
	</div>
</div>
