<div id="blog-wrap">
  <div class="blog-header">
    <h2>THE JOURNAL</h2>
    <p>- Out of difficulties grow miracles -</p>
  </div>

  <div class="filter-wrap"></div>
</div>

<div class="load-more-wrap">
  <button class="load-more filter-inactive">MORE</button>
</div>
