<div class="filter-wrap">
  <button class="active filter" id="1">ALL</button>
</div>

<div id="blog-wrap">
  <div class="blog-header">
    <h2>THE JOURNAL</h2>
    <p>- Out of difficulties grow miracles -</p>
  </div>

</div>

<div class="load-more-wrap">
  <button class="load-more filter-inactive">MORE</button>
</div>

<div class="top-gradient"></div>
