<div id="blog-wrap">
  <div class="blog-header">
    <h2>THE JOURNAL</h2>
    <p>- Out of difficulties grow miracles -</p>
  </div>

  <div class="filter-wrap"></div>

  <div class="loading">
    <h6>Loading...</h6>
  </div>
</div>
