<div id="page-wrap">
  <a href="/now"><div id="tile1"><h3>What I'm doing now</h3></div></a>
  <a href="/journal"><div id="tile2"><h3>Journal</h3></div></a>
  <a href="/about"><div id="tile3"><h3>About</h3></div></a>
  <a href="/places"><div id="tile4"><h3>Favorite Places</h3></div></a>
</div>
