<!-- Meta Tags -->
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name=author content="Pamela Wilson" />
<meta name=description content="April 2016 Welcome to April, and welcome Spring! Health: Huge news! My first mammogram and ultrasound were all good. No signs of cancer! Very, very happy about this. I&#8217;m struggling with nerve pain, and pain from tissue still healing and from radiation. We are working on medications to manage, but I am hopeful I won&#8217;t be."/>
<!-- <link rel="icon" href=""> -->

<!-- This site is optimized with the Yoast SEO plugin v3.3.1 - https://yoast.com/wordpress/plugins/seo/ -->
<link rel="canonical" href="http://sonicpitch.com/now/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="What I&#039;m Doing Right Now - Pamela Wilson - Fashion Innovator, Poker Player, Philanthropist" />
<meta property="og:description" content="April 2016 Welcome to April, and welcome Spring! Health: Huge news! My first mammogram and ultrasound were all good. No signs of cancer! Very, very happy about this. I&#8217;m struggling with nerve pain, and pain from tissue still healing and from radiation. We are working on medications to manage, but I am hopeful I won&#8217;t be…" />
<meta property="og:url" content="http://sonicpitch.com/now/" />
<meta property="og:site_name" content="Pamela Wilson - Fashion Innovator, Poker Player, Philanthropist" />
<meta property="og:image" content="http://sonicpitch.com/wp-content/uploads/2016/03/pdun-mammo.jpg" />
<meta property="og:image" content="http://sonicpitch.com/wp-content/uploads/2016/03/april-LPN-410x245.png" />
<meta property="og:image" content="http://sonicpitch.com/wp-content/uploads/2016/04/Pamela-March-10-410x615.jpg" />
<meta property="og:image" content="http://sonicpitch.com/wp-content/uploads/2016/03/guest-410x144.png" />
<meta property="og:image" content="http://sonicpitch.com/wp-content/uploads/2016/03/c25k-410x547.png" />
<meta property="og:image" content="http://sonicpitch.com/wp-content/uploads/2016/02/poker-crew-410x338.png" />

<!-- Vendor assets -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<script src="../../js/sidebar.js" type="text/javascript"></script>

<!-- Custom assets -->
<link href="../../css/main.css" rel="stylesheet" />

<!-- This site uses the Google Analytics by MonsterInsights plugin v5.5 - Universal disabled - https://www.monsterinsights.com/ -->
<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-40059803-1']);
	_gaq.push(['_gat._forceSSL']);
	_gaq.push(['_trackPageview']);

	(function () {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();

</script>
<!-- / Google Analytics by MonsterInsights -->
