<!-- Social media links -->
<div class="social-wrap">
  <a href="https://www.facebook.com/Ionamadison/?fref=nf" target="_blank"><img src="../images/facebook.svg" /></a>
  <a href="https://twitter.com/pdubpresents" target="_blank"><img src="../images/twitter.svg" /></a>
  <a href="https://www.instagram.com/pdubxo/" target="_blank"><img src="../images/instagram.svg" /></a>
</div>

<div class="bottom-left-wrap">
  <p><a href="/journal">Journal</a>  /  <a href="/about">About</a>  /  <a href="/contact">Contact</a></p>
</div>
